<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+映射文件名， 这样就能够保证namespace的值是唯一的 -->
<mapper namespace="com.sealinetech.mybatis2.dao.PersonDao">

	<!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getPerson，id属性值必须是唯一的， 不能够重复 
		使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型 -->
	<!-- 根据id查询得到一个Person对象 -->
	<select id="getPerson" parameterType="int"
		resultType="com.sealinetech.mybatis2.pojo.Person">
		SELECT * FROM person WHERE ID=#{id}
	</select>

	<insert id="insertPerson" parameterType="com.sealinetech.mybatis2.pojo.Person">
		INSERT INTO person
		(name, password, age) VALUES (#{name}, #{password}, #{age})
	</insert>

	<select id="getPersonList" resultType="java.util.HashMap">
		SELECT ID as id, Name as name, Password as password, Age as age FROM person ORDER BY ID
	</select>
</mapper>